blis==0.7.4
catalogue==2.0.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
cymem==2.0.5
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0a0/en_core_web_sm-3.0.0a0.tar.gz
idna==2.10
Jinja2==2.11.2
MarkupSafe==1.1.1
murmurhash==1.0.5
numpy==1.19.4
packaging==20.8
pathy==0.3.4
preshed==3.0.5
pydantic==1.6.1
pyparsing==2.4.7
pytokenizations==0.7.2
requests==2.25.1
smart-open==3.0.0
spacy-nightly==3.0.0rc2
srsly==2.3.2
thinc==8.0.0rc2
tqdm==4.55.1
typer==0.3.2
urllib3==1.26.2
wasabi==0.8.0
