beautifulsoup4==4.9.3
bleach==3.2.1
blis==0.7.4
catalogue==2.0.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
cymem==2.0.5
dateparser==1.0.0
docutils==0.16
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0a0/en_core_web_sm-3.0.0a0.tar.gz
idna==2.10
Jinja2==2.11.2
keyring==21.8.0
lupa==1.9
MarkupSafe==1.1.1
merge-idioms @ file:///Users/eubin/Desktop/Projects/Big/merge-idioms
murmurhash==1.0.5
numpy==1.19.5
packaging==20.8
pathy==0.3.4
pkginfo==1.6.1
preshed==3.0.5
pydantic==1.6.1
Pygments==2.7.3
pyparsing==2.4.7
python-dateutil==2.8.1
python-Levenshtein==0.12.1
pytokenizations==0.7.2
pytz==2020.5
readme-renderer==28.0
regex==2020.11.13
requests==2.25.1
requests-toolbelt==0.9.1
rfc3986==1.4.0
six==1.15.0
smart-open==3.0.0
soupsieve==2.1
spacy-nightly==3.0.0rc2
srsly==2.3.2
thinc==8.0.0rc2
tqdm==4.55.1
twine==3.3.0
typer==0.3.2
tzlocal==2.1
urllib3==1.26.2
wasabi==0.8.0
webencodings==0.5.1
wikitextprocessor==0.4.91
